// vim:ft=css

body {
	font-family: sans-serif;
	font-size:12px;
}
.container {
	max-width: 800px;
	margin: 10px auto;
	padding: 20px 80px;
	border: 1px solid #DDDDDD;
}
#contents {
	display:none;
}

h1 {
	background-color:#EEEEEE;
	padding: 10px;
}

.controlform {
	font-size:12px;
}

.copyarea {
	display: none;
	margin: 10px;
	padding: 10px;
	border: 1px solid black;
	font-size: 12px;
}

.codearea {
	color:#FFFFFF;
	background-color:#000000;
	padding: 10px;
	font-size: 12px;
}

.code {
	padding: 10px;
	background-color:#EEEEEE;
}

table {
	border-collapse: collapse;
	margin: 20px 0px;
}

table th {
	border: 1px solid #DDDDDD;
	background-color:#EEEEEE;
	padding: 5px 20px;
}

table td {
	border: 1px solid #DDDDDD;
	padding: 5px 20px;
}

