// vim:ft=css

body {
	font-size: 14px;
	font-family:-apple-system, BlinkMacSystemFont, "Helvetica Neue", "Segoe UI","Noto Sans Japanese","Hiragino Kaku Gothic ProN","メイリオ", sans-serif;
}

.container {
	max-width: 800px;
	margin: 10px auto;
	padding: 40px 80px;
	border: 1px solid #DDDDDD;
	border-radius: 20px;
}
#contents {
	display:none;
}

h1 {
	padding: 10px;
	font-size: 2rem;
}

h2 {
	padding: 10px;
	font-size: 1rem;
}

h3 {
	font-size: 0.9rem;
}

h4 {
	font-size: 0.8rem;
}

blockquote {
	background-color:#F4F4F4;
	padding: 5px;
}

.code {
	padding: 10px;
	background-color: #F0F0F0;
	border-radius: 0px;
	margin: 5px;

}

.code .controlform {
}

.code .copyarea {
	display: none;
	margin: 10px;
	padding: 10px;
	border: 1px solid black;
	font-size: 0.7rem;

	overflow: auto;
	white-space: pre-wrap;
	word-wrap: break-word;
}

.code .codearea {
    font-family: source-code-pro, Consolas, 'Courier New', Courier, Monaco, monospace;
    font-size: 0.9rem;
    line-height: 1.2em;

	color:#FFFFFF;
	background-color:#000000;
	padding: 10px;
	overflow: auto;
	white-space: pre-wrap;
	word-wrap: break-word;
}

table {
	border-collapse: collapse;
	margin: 20px 0px;
}

table th {
	border: 1px solid #DDDDDD;
	background-color:#EEEEEE;
	padding: 5px 20px;
}

table td {
	border: 1px solid #DDDDDD;
	padding: 5px 20px;
}

