<!DOCTYPE html>
<html lang="ja">
<head>
<meta charset="utf-8">
<title>コピペが便利なスニペット集</title>
<meta name="viewport" content="width=1000px">

<% if(production) { %>
<style type="text/css"><%- css %></style>
<script id="copipe-meister-conf" type"application/json">{"contents_path":"./contents"}</script>
<script type="text/javascript">// <![CDATA[
<%- js %>
// ]]></script>
<% } else { %>
<link rel="stylesheet" type="text/css" href="./index.css" media="all">
<script id="copipe-meister-conf" type"application/json">{"contents_path":"../../contents"}</script>
<script src="./index.js"></script>
<% } %>

</head><body>

<a href="index.html">INDEX</a> | <a href="https://github.com/mamemomonga/snippets">GitHub</a><hr>
<div class="container"></div>
<hr><a href="index.html">INDEX</a> | <a href="https://github.com/mamemomonga/snippets">GitHub</a>

<% if(production) { %>
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-109885867-2"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-109885867-2');
</script>
<% } %>

</body>
</html>
