<!DOCTYPE html>
<html lang="ja">
<head>
<meta charset="utf-8">
<title>スニペット集</title>
<meta name="viewport" content="width=800">

<script src="//use.edgefonts.net/source-code-pro.js"></script>

<% if(production) { %>
<style type="text/css"><%- css %></style>
<script id="copipe-meister-conf" type"application/json">{"contents_path":"./contents"}</script>
<script type="text/javascript">// <![CDATA[
<%- js %>
// ]]></script>
<% } else { %>
<link rel="stylesheet" type="text/css" href="./index.css" media="all">
<script id="copipe-meister-conf" type"application/json">{"contents_path":"../../contents"}</script>
<script src="./index.js"></script>
<% } %>

</head><body>

<div class="container">
<a href="javascript:history.back();">戻る</a> | 
<a href="index.html">INDEX</a> | 
<a href="https://github.com/mamemomonga/snippets">GitHub</a><hr>
<div id="contents"></div>
<hr>
<a href="javascript:history.back();">戻る</a> | 
<a href="index.html">INDEX</a> | 
<a href="https://github.com/mamemomonga/snippets">GitHub</a>
</div>

<% if(production) { %>
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-109885867-2"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-109885867-2');
</script>
<% } %>

</body>
</html>
