<!DOCTYPE html>
<html lang="ja">
<head>
<meta charset="utf-8">
<title></title>
<meta name="viewport" content="width=device-width">
<link rel="stylesheet" type="text/css" href="prism.css" media="all">
<link rel="stylesheet" type="text/css" href="index.css" media="all">
<script src="prism.js"></script>
<script src="index.js"></script>
</head>
<body>

<div class="container">
<a href="index.html">INDEX</a> | <a href="https://github.com/mamemomonga/snippets">GitHub</a><br>

<%- contents %>
</div>

</body>
</html>
